* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #161742;
    height: 60px;
    border-bottom: 2px solid red;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#nav {
    display: flex;
    padding: 20px 15px;
}

#nav a {
    text-decoration: none;
    color: #fff;
    padding: 50px;
    font-size: 15px;
}

#nav li {
    list-style: none;
}

#secao1 {
    background-color: #f8f5f5;
}

section img {
    width: 250px;
    margin: 80px 0 0 550px;
   
}

#secao2 {
    position: relative;
    margin: 100px 100px 50px 80px;
    background-color: #f8f5f5;
    border-radius: 30px;
    padding: 30px 0 0 20px;
}

#secao2 h2 {
    padding-bottom: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    font-size: 30px;
    font-style: oblique;
    margin-left: 20px;
}

#secao2 p {
    font-size: 20px;
    color: #333;
    margin: 20px 10px 0px 20px;
    padding-bottom: 20px;
}

#form-container {
    background-color: #fdfdfd;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 62px;
    left: -340px;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
}

#form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 50px;

}

#form-header h3{
    color: #161742;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 30px;
    line-height: 45px;
}
#form-body {
    padding: 5px 30px;
}

input[type="text"],
input[type="file"],
input[type="email"] {
    border-radius: 20px;
    border: none;
    display:inline-table ;
    margin-bottom: 35px;
    border: 1px solid #333;
    width: 400px;
    padding: 10px 20px;
}

.btn {
    background-color: #ccc;
    color: #000;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    width: 20%;
    height: 10%;
    margin: 0 auto;
    position: relative;
    left: 40%;
}

.btn:hover {
    background-color: #fafafa;
    border-color: #ccc;
    color: #161742;
}

footer {
    height: 285px;
    background-color: #353658;
    margin-top: 200px;
}

footer h2 {
    color: #fafafa;
    padding: 50px;
    font-size: 16px;
}

footer p {
    color: #b1a0a0;
    margin: -50px 0 40px 100px;
    font-size: 17px;
}

footer img {
    width: 30px;
    position: relative;
    left: 65px;
    top: -15px;
}

footer h5 {
    margin: 30px auto;
    position: relative;
    padding: 20px 0 0 50px;
    top: 10px;
    border-top: 1px solid red;
    width: 100%;
    color: #fafafa;
}

footer span {
    color: #b1a0a0;
    font-size: 15px;
}

@media (max-width: 1440px) {
    footer {
        width: 1600px;
    }

    #secao1 {
        width: 1600px;
    }

    #secao-marca {
        width: 1600px;
    }

    #form-container {
        margin: 0 0 0 400px;
    }
}

/* tablet 720px */
 @media (max-width: 720px) {
    footer {
        width: 1350px;
    }

    #secao1 {
        width: 1360px;
    }

    #secao-marca {
        width: 1345px;
    }

    #form-container {
        margin: 0 0 0 400px;
    }
}
