* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #161742;
    height: 60px;
    border-bottom: 2px solid red;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#nav {
    display: flex;
    padding: 20px 15px;
}

#nav a {
    text-decoration: none;
    color: #fff;
    padding: 50px;
    font-size: 15px;
}

#nav li {
    list-style: none;
}

#secao1 {
    background-color: #f8f5f5;
}

section img {
    width: 250px;
    margin: 80px 0 0 550px;
   
}

.um {
    position: relative;
    left: 260px;
}

.dois {
    position: relative;
    left: 520px;
}

.tres {
    position: relative;
    left: 770px;
}

div img {
    padding: 50px 0 50px 0;
}

div span {
    position: relative;
    top: -90px;
}

a {
    text-decoration: none;
    color: red;
}

footer {
    height: 285px;
    background-color: #353658;
}

footer h2 {
    color: #fafafa;
    padding: 50px;
    font-size: 16px;
}

footer p {
    color: #b1a0a0;
    margin: -50px 0 40px 100px;
    font-size: 17px;
}

footer img {
    width: 30px;
    position: relative;
    left: 65px;
    top: -15px;
}

footer h5 {
    margin: 30px auto;
    position: relative;
    padding: 20px 0 0 50px;
    top: 10px;
    border-top: 1px solid red;
    width: 100%;
    color: #fafafa;
}

footer span {
    color: #b1a0a0;
    font-size: 15px;
}